@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>İlaç Adı Giriniz</h2>
        <div class="col-md-5">
        <p><input type="text" name="ara" id="ara" /></p>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-5" id="gelenler">

        </div>
    </div>

</div>
<style>
    #gelenler p {
        margin: 0px;
        padding: 3px;
        background-color: whitesmoke;
        border-bottom: 1px solid #e0dede;
        cursor:pointer;
    }
        #gelenler p:hover {
            background: #dcdcdc;
        }
</style>
<script src="/Scripts/jquery-3.4.1.js"></script>

<script src="/Scripts/bootstrap.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#ara").keyup(function () {

            var ara = $("#ara").val();
            console.log(ara);
            $.ajax({
                url: '/Home/Search/',
                type: 'POST',
                dataType: 'json',
                data: { 'kelime': ara },
                success: function (data) {
                    $("#gelenler").html("")
                    console.log(data);
                    $.each(data, function (i, item) {
                        $("#gelenler").append("<p>" + (item.ADI) + "</p>");
                    });

                }
            });
        });

    });
</script>